{% extends 'home/index.html.twig' %}

{% block title %}Nouvele action sociale{% endblock %}

{% block body %}
     <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Gestion actions sociales</h3>
        </div>

    {{ include('activitesociale/_form.html.twig') }}

     </div>
{% endblock %}
