{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5">

    <h3>{{ culte.theme }}</h3>

    <p>
        Veuillez renseigner vos informations.
    </p>

    <form
        hx-post="{{ path('presence_save',{token: culte.tokenPresence}) }}"
        hx-target="#resultat"
        hx-swap="innerHTML"
    >

        <div class="form-group mb-3">
            <label>Nom complet</label>
            <input
                type="text"
                name="nomfidele"
                class="form-control"
                required
            >
        </div>

        <div class="form-group mb-3">
            <label>Téléphone</label>
            <input
                type="text"
                name="contact1"
                class="form-control"
                required
            >
        </div>

        <button
            class="btn btn-primary"
            type="submit"
        >
            Valider ma présence
        </button>

    </form>

    <div id="resultat" class="mt-3"></div>

</div>

{% endblock %}