{% extends 'home/index.html.twig' %}

{% block title %}Edit Action grâce{% endblock %}

{% block body %}
      <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modification</h3>
        </div>

    {{ include('invite/_form.html.twig') }}
      </div>
{% endblock %}
