{% extends 'home/index.html.twig' %}

{% block title %}New Timbre{% endblock %}

{% block body %}
     <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Enregistrement Courrier</h3>
        </div>

    {{ include('timbre/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
 