

    <table class="table">
        <tbody>
        
            <tr>
                <th>Numero</th>
                <td>{{ timbre.numero }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ timbre.annee }}</td>
            </tr>
          
        </tbody>
    </table>

