{% extends "home/index.html.twig" %}

{% block title %}Modification Courrier{% endblock %}

{% block body %}
 <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modification Courrier</h3>
        </div>

    {{ include('courrier/_form.html.twig', {'button_label': 'Update'}) }}
</div>

    
{% endblock %}
