<form method="post" action="{{ path('app_invitecellule_delete', {'id': invitecellule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invitecellule.id) }}">
    <button class="btn">Delete</button>
</form>
