{% extends "home/index.html.twig" %}

{% block title %}New Evangelisation{% endblock %}

{% block body %}
      
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Gestion evangelisation</h3>
        </div>

    {{ include('evangelisation/_form.html.twig') }}

    </div>
{% endblock %}
