{% extends "home/index.html.twig" %}

{% block title %}New Detailcotisationcellule{% endblock %}

{% block body %}
    <h1>Create new Detailcotisationcellule</h1>

    {{ include('detailcotisationcellule/_form.html.twig') }}

    <a href="{{ path('app_detailcotisationcellule_index') }}">back to list</a>
{% endblock %}
