<form method="post" action="{{ path('app_cotisationsociale_delete', {'id': cotisationsociale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cotisationsociale.id) }}">
    <button class="btn">Delete</button>
</form>
