{% extends 'home/index.html.twig' %}

{% block title %}Nouvelle Cotisation {% endblock %}

{% block body %}
      <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Nouvel enregistrement</h3>
        </div>

    {{ include('cotisationsociale/_form.html.twig') }}

      </div>
{% endblock %}
