{% extends "home/index.html.twig" %}

{% block title %}Cotisation departement{% endblock %}

{% block body %}


 
    <div class="card card-primary">
       <div class="card-header">
			<h3 class="card-title">Gestion cotisation : {{ departement.nom }}</h3>
		</div>
 {{ include('cotisationdepartement/_form.html.twig') }}
</div>


{% endblock %}