{% extends 'home/index.html.twig' %}

{% block title %}Edit classecodim{% endblock %}

{% block body %}
      <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modification </h3>
        </div>

    {{ include('commune/_form.html.twig') }}
      </div>
{% endblock %}
