{% extends 'home/index.html.twig' %}

{% block title %}Edit Typeculte{% endblock %}

{% block body %}
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modification categorie cultes</h3>
        </div>
        <div class="card card-body">

    {{ include('typeculte/_form.html.twig', {'button_label': 'Update'}) }}

        </div>
