{% extends 'home/index.html.twig' %}

{% block title %}New Invitedepartement{% endblock %}

{% block body %}
       <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Gestion des invités de departement</h3>
        </div>

    {{ include('invitedepartement/_form.html.twig') }}

       </div>
    
{% endblock %}
