<form method="post" action="{{ path('mariage_delete', {'id': mariage.id}) }}" onsubmit="return confirm('Voulez-vous effectuer ce divorce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mariage.id) }}">
    <button class="btn">Divorcer</button>
</form>
