<form method="post" action="{{ path('app_cotisationparfamille_delete', {'id': cotisationparfamille.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cotisationparfamille.id) }}">
    <button class="btn">Delete</button>
</form>
