<form method="post" action="{{ path('seancedepartement_delete', {'id': seancedepartement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seancedepartement.id) }}">
    <button class="btn">Delete</button>
</form>
