
{% extends "home/index.html.twig" %}

{% block title %}Nouveau don{% endblock %}

{% block body %}
   
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Nouvel enregistrement</h3>
        </div>
            {{ include('don/_form.html.twig') }}

    </div>


  
{% endblock %}
