{% extends "home/index.html.twig" %}

{% block title %}Modification Couple{% endblock %}

{% block body %}
   <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modification de couple</h3>
        </div>
    {{ include('couple/_form.html.twig', {'button_label': 'Modifier'}) }}
   </div>
{% endblock %}
