<form method="post" action="{{ path('app_objetdepense_delete', {'id': objetdepense.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objetdepense.id) }}">
    <button class="btn">Delete</button>
</form>
