{% extends 'home/index.html.twig' %}

{% block title %}Modification Paiement{% endblock %}

{% block body %}
   <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Modification de paiement</h3>
        </div>

   {{ include('paiement/_form.html.twig') }}
   </div>
{% endblock %}
