{% extends "home/index.html.twig" %}

{% block title %}New Depense famille{% endblock %}

{% block body %}
       <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">{{ famille.nom|upper }} : Enregistrement de depenses </h3>
        </div>

    {{ include('depensefamille/_form.html.twig') }}
       </div>
    
{% endblock %}
