{% extends 'home/index.html.twig' %}

{% block title %}New Cotiserpargroupe{% endblock %}

{% block body %}
       
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Nouvel enregistrement</h3>
        </div>

    {{ include('cotiserpargroupe/_form.html.twig') }}

    </div>
{% endblock %}
