{# empty Twig template #}

<div class="form-control">
    <form action="{{ path('fidele_preinscription') }}" method="POST">
        <div class="card-primary">
            <div class="card-header">
                <h4 class="card-title">Recherche d'Eglise</h4>
            </div>
      
            <div class="card-body">
                Code Eglise: <input type="text" name="recherchechurch" required="true">

                <button type="button" class="btn btn-success">
                                                          

                    <input type="submit" value="Rechercher"> </button>
                </h3>



            </div></div>

    </form>
</div>

