{% extends "home/index.html.twig" %}
{% block title %}Recherches multiples1{% endblock %}
{% block body %}
    
    
    <div class='container'>
          <h1> Recherches multiples</h1>

        <form action="" method="POST">
            <div class="col-md-6">
                <select name="">
                    <h2> Recherches multiples </h2>
                </select>
            </div>
                <div class="col-md-6"><input type="submit" value="Rechercher"></div>
        </form>    
    </div> 
{% endblock %}