{% extends "home/index.html.twig" %}

{% block title %}Paie cotisation{% endblock %}

{% block body %}
  <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Nouvel enregistrement</h3>
        </div>
    {{ include('fidelecotiser/_form.html.twig') }}
  </div>
{% endblock %}
