
{% extends "home/index.html.twig" %}

{% block title %}Modifier enfant{% endblock %}

{% block body %}
   
    <div class="card card-primary">
      
            {{ include('enfant/_form.html.twig') }}

    </div>


  
{% endblock %}
