{% extends "home/index.html.twig" %}

{% block title %}New Pastorale{% endblock %}

{% block body %}
     
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Gestions des rencontres</h3>
        </div>
        <div class="card card-body">


    {{ include('pastorale/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
