{% extends "home/index.html.twig" %}

{% block title %}New Objetrecette{% endblock %}

{% block body %}
   	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Enregistrement objet recette</h3>
		</div>
		<div class="card card-body">

			{{ include('objetrecette/_form.html.twig') }}

		</div>
{% endblock %}
