{% extends "home/index.html.twig" %}

{% block title %}New Nominer{% endblock %}

{% block body %}
    <h1>Create new Nominer</h1>

    {{ include('nominer/_form.html.twig') }}

    <a href="{{ path('app_nominer_index') }}">back to list</a>
{% endblock %}
