<form method="post" action="{{ path('seancegroupe_delete', {'id': seancegroupe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seancegroupe.id) }}">
    <button class="btn">Delete</button>
</form>
