{% extends 'home/index.html.twig' %}

{% block title %}New Invitegroupe{% endblock %}

{% block body %}
       <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> {{ groupe.nom|upper }} :Gestion des invités</h3>
        </div>

    {{ include('invitegroupe/_form.html.twig') }}

       </div>
    
{% endblock %}
