{% extends "home/index.html.twig" %}

{% block title %}New fidèle{% endblock %}

{% block body %}
         <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Enregistrement fidèle</h3>
        </div>

    {{ include('fidele/_form.html.twig') }}

         </div>
{% endblock %}
