{% extends 'home/index.html.twig' %}

{% block title %}New Charge{% endblock %}

{% block body %}
 	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Enregistrement charge</h3>
		</div>
		<div class="card card-body">

			{{ include('charge/_form.html.twig') }}

		</div>
{% endblock %}
